UseTab: Never
IndentWidth: 4
---
Language: Cpp
SortIncludes: false
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true